<%- include('partials/header.ejs', {title: 'LA Hacks'}) %>

<body>
    <%= include('partials/navbar.ejs', {title: 'LA Hacks'}) %>
</body>

<div class="container">
    <div class="row-align-start">
      <div class="col">
      </div>
      <div class="col-6">
        Admin Console
      </div>
      <div class="col">
      </div>
    </div>
</div>