<%- include('partials/header.ejs', {title: ''}) %>

<body>
    <%- include('partials/navbar.ejs', {title: ''}) %>

    <div class="container">
        <div class="left-column">
            <h1>Title: Course <%= course ></h1>
            <p>Course ID: A1</p>
            <p>Professor: Dr. John Doe</p>
        </div>
        <div class="middle-column">
            <div class="video-box">Video 1</div>
            <div class="video-box">Video 2</div>
            <div class="video-box">Video 3</div>
        </div>
    </div>
    <div class="right-column">
        <a href="resources.zip" download>Download Course Resources</a>
    </div>
</body>